
<ul class="nav nav-tabs nav-justified mt2">
    <li class="active"><a href="#">Import fichier</a></li>
    <li class="disabled"><a href="#">Sélection lignes</a></li>
    <li class="disabled"><a href="#/send">Validation</a></li>
</ul>

<div class="col-xs-12 smallBorder noBTop">

    <div class="row">
        <div class="col-xs-12 mt1 mb2" ng-controller="userController">

            <h1>Info</h1>

            <label>Zenbus account uri :</label>
            <input type="text" class="form-control mb1" ng-model="uri">

            <label>Network name :</label>
            <input type="text" class="form-control mb1" ng-model="networkName">

            <button class="btn btn-primary" ng-click="update()">Save</button>

        </div>
    </div>

    <div class="row" ng-show="step == 1">

        <div class="col-xs-6">
            
            <h1 class="col-xs-12">1- Import des fichiers</h1>
            
            <div class="col-xs-12 mb2">
                <label for="files">Fichiers: </label>
                <input id="files" type="file" ng-file-select="onFileSelect($files)" multiple>
            </div>

        </div>

        <div class="col-xs-12 mb2 taCenter" ng-show="dropSupported">
            <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="hover" class="dropZone w100">
                <p class="inline h3">Ou glissez les fichiers ici</p>
                <div class="inline h100"></div>
            </div>
        </div>
        
        <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
        
    </div>

    <div class="row" ng-show="step > 1">

        <div class="col-xs-12 pb1">
            
            <h1 class="col-xs-12 mb1">1- Import des fichiers</h1>
            
            <dl class="col-xs-12 dl-horizontal">
                <div ng-repeat="info in infos">      

                    <dt>{{info.txt}}</dt>
                    <dd ng-class="'text-' + info.status">
                        
                        <span ng-show="info.status == 'success'">Présent </span>
                        <b ng-show="info.status == 'warning' || info.status == 'muted'">Manquant </b>
                        <b ng-show="info.required"> (requis)</b>
                    </dd>

                </div>
            </dl>

            <div class="col-xs-12">
                <div ng-show="error || warning" ng-click="restart()" class="btn btn-danger">Importer de nouveaux fichiers</div>
                <div ng-show="warning" ng-click="restart()" class="btn btn-warning">Continuer</div>
                <div ng-show="success" ng-click="restart()" class="btn btn-success">Continuer</div>
            </div>

        </div>

    </div>

</div>