
<ul class="nav nav-tabs nav-justified mt2">
    <li class=""><a href="#/files">Import fichier</a></li>
    <li class=""><a href="#/lines">Sélection lignes</a></li>
    <li class="active"><a href="#/send">Validation</a></li>
</ul>

<div class="col-xs-12 smallBorder noBTop">
    
    <div class="row mb2">
        
        <h1 class="col-xs-12">3 - Shape & Arrêts</h1>

        <ng-maps shapes="shapes" pois="pois"></ng-maps>
    
        <div class="col-xs-12 mt2 taRight">
            <h2 class="inline">Tout est bon ?</h2><button class="ml2 btn btn-primary mt1">Envoyer</button>
        </div>

    </div>
    
</div>