
<ul class="nav nav-tabs nav-justified mt2">
    <li class=""><a href="#/files">Import fichier</a></li>
    <li class=""><a href="#/lines">Sélection lignes</a></li>
    <li class="active"><a href="#/send">Validation</a></li>
</ul>

<div class="col-xs-12 smallBorder noBTop">
    
    <div class="row mb2">
        
        <h1 class="col-xs-12">3 - Shape & Arrêts</h1>

        <div id="map-canvas" class="col-xs-12"></div> 

        <button class="btn btn-primary mt1">Envoyer</button>
    </div>
    
</div>

<script>
    //Init Google map
    var initialize = function () {
        var mapOptions = {
            center: new google.maps.LatLng(47.2212352, -1.5644707),
            zoom: 12
        };

        window.map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    };

    initialize();
</script>
